# idea
.idea

# iml
Algorithm_Java.iml

#  BOJ test Class
src/Main.java

# SWEA Programmers test Class
src/Solution.java

# DataStructure teest Class
practice.java

# out
out

#UserSolution
src/UserSolution.java

#.classpath & .project
.classpath
.project
